@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: 'MonoplexKR-Regular';
  
}
.container{
  display: flex;
  
}
.menu{
  background-color: rgb(195, 221, 230);
  position:fixed;
  height: 100%;
  width:15%;

}

img{
  width: 40%;
  margin-left:10px;
}
.scon{
  width: 150px;
  height: 150px;
  background-color:rgb(231, 231, 231);
  margin:10px;
  border-radius: 10px;
}
.stackimg{
  display:flex;
}
.mp{
  position:relative;
  margin-left:17%;
}